extends layout

block content
  h1= title
  p Welcome to #{title}
  p TEST jairo

          //- .header-title-nav-wrapper
          //-   // Title
          //-   .header-title
          //-     .header-title-text
          //-       a#site-title(href='/') Kyla &amp; Jairo
          //-   // Nav
          //-   .header-nav
          //-     .header-nav-wrapper
          //-       nav.header-nav-list
          //-         .header-nav-item.header-nav-item--collection
          //-           a(href='/wedding') WEDDING
          //-         .header-nav-item.header-nav-item--collection
          //-           a(href='/travel') ACCOMMODATIONS
          //-         .header-nav-item.header-nav-item--collection
          //-           a(href='/venue') VENUE                    
          //-         .header-nav-item.header-nav-item--collection
          //-           a(href='/registry') REGISTRY
          //-         .header-nav-item.header-nav-item--collection
          //-           a(href='/todo') NYC RECS  